pip install dj-database-url
pip install gunicorn
pip install psycopg2
pip install psycopg2-binary
pip install whitenoise
pip install request
pip install matplotlib
pip install numpy
pip install opencv-python
pip install scikit-image
pip install tensorflow
pip install Pillow


